version: 2.1

orbs:
  win: circleci/windows@2.4.0
  prodsec: snyk/prodsec-orb@1

filters_branches_ignore_main: &filters_branches_ignore_main
  filters:
    branches:
      ignore:
        - main

defaults: &defaults
  parameters:
    node_version:
      type: string
      default: ""
  working_directory: ~/nodejs-lockfile-parser

windows_defaults: &windows_defaults
  environment:
    npm_config_loglevel: silent
  executor:
    name: win/default

test_matrix: &test_matrix
  node_version: ['12.22.12', '14.17.6', '16.13.2']

commands:
  install_deps:
    description: Install dependencies
    steps:
      - checkout
      - run:
          name: Use snyk-main npmjs user
          command: echo "//registry.npmjs.org/:_authToken=${NPM_TOKEN}" >> .npmrc
      - run:
          name: Install dependencies
          command: npm install
  install_node_npm:
    description: Install correct Node version
    parameters:
      node_version:
        type: string
        default: ""
    steps:
      - run:
          name: Install correct version of Node
          command: nvm install << parameters.node_version >>
      - run:
          name: Use correct version of Node
          command: nvm use << parameters.node_version >>
  show_node_version:
    description: Log Node and npm version
    steps:
      - run:
          name: Node version
          command: node --version
      - run:
          name: NPM version
          command: npm --version

jobs:
  security-scans:
    resource_class: small
    <<: *defaults
    docker:
      - image: cimg/node:<< parameters.node_version >>
    steps:
      - show_node_version
      - checkout
      - attach_workspace:
          at: ~/nodejs-lockfile-parser
      - install_deps
      - prodsec/security_scans:
          mode: auto
          open-source-additional-arguments: --exclude=test
          iac-scan: disabled
  lint:
    <<: *defaults
    docker:
      - image: cimg/node:<< parameters.node_version >>
    steps:
      - show_node_version
      - checkout
      - attach_workspace:
          at: ~/nodejs-lockfile-parser
      - install_deps
      - run:
          name: Run lint
          command: npm run lint

  test-windows-jest:
    <<: *defaults
    <<: *windows_defaults
    steps:
      - run: git config --global core.autocrlf false
      - install_node_npm:
          node_version: << parameters.node_version >>
      - checkout
      - attach_workspace:
          at: ~/nodejs-lockfile-parser
      - install_deps
      - show_node_version
      - run:
          name: Run tests
          command: npm run test:jest

  test-windows-tap:
    <<: *defaults
    <<: *windows_defaults
    steps:
      - run: git config --global core.autocrlf false
      - install_node_npm:
          node_version: << parameters.node_version >>
      - checkout
      - attach_workspace:
          at: ~/nodejs-lockfile-parser
      - install_deps
      - show_node_version
      - run:
          name: Run tests
          command: npm run unit-test

  test-unix-jest:
    <<: *defaults
    docker:
      - image: cimg/node:<< parameters.node_version >>
    steps:
      - checkout
      - attach_workspace:
          at: ~/nodejs-lockfile-parser
      - install_deps
      - show_node_version
      - run:
          name: Run tests
          command: npm run test:jest

  test-unix-tap:
    <<: *defaults
    docker:
      - image: cimg/node:<< parameters.node_version >>
    steps:
      - checkout
      - attach_workspace:
          at: ~/nodejs-lockfile-parser
      - install_deps
      - show_node_version
      - run:
          name: Run tests
          command: npm run unit-test

  release:
    <<: *defaults
    docker:
      - image: cimg/node:<< parameters.node_version >>
    resource_class: small
    steps:
      - install_deps
      - run: sudo npm i -g semantic-release@17 @semantic-release/exec pkg
      - run:
          name: Publish to GitHub
          command: semantic-release

workflows:
  version: 2
  test_and_release:
    jobs:
      - prodsec/secrets-scan:
          name: Scan repository for secrets
          context:
            - snyk-bot-slack
          channel: os-team-managed-alerts
          filters:
            branches:
              ignore:
                - main
      - security-scans:
          name: Security Scans
          node_version: "16.13.2"
          context:
            - open_source-managed
            - nodejs-install
      - lint:
          name: Lint
          context: nodejs-install
          node_version: "16.13.2"
          <<: *filters_branches_ignore_main
      - test-windows-jest:
          matrix:
            alias: test-windows-jest
            parameters:
              <<: *test_matrix
          name: Windows Tests (Jest) for Node=<< matrix.node_version >> support
          context: nodejs-install
          requires:
            - Lint
          <<: *filters_branches_ignore_main
      - test-windows-tap:
          matrix:
            alias: test-windows-tap
            parameters:
              <<: *test_matrix
          name: Windows Tests (Tap) for Node=<< matrix.node_version >> support
          context: nodejs-install
          requires:
            - Lint
          <<: *filters_branches_ignore_main
      - test-unix-jest:
          matrix:
            alias: test-unix-jest
            parameters:
              <<: *test_matrix
          name: Unix Tests (Jest) for Node=<< matrix.node_version >> support
          context: nodejs-install
          requires:
            - Lint
          <<: *filters_branches_ignore_main
      - test-unix-tap:
          matrix:
            alias: test-unix-tap
            parameters:
              <<: *test_matrix
          name: Unix Tests (Tap) for Node=<< matrix.node_version >> support
          context: nodejs-install
          requires:
            - Lint
          <<: *filters_branches_ignore_main
      - release:
          name: Release
          context: nodejs-app-release
          node_version: "16.13.2"
          filters:
            branches:
              only:
                - main
